body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
  }
  
  #loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  #loading img {

    background: url('heart.png') no-repeat center center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  #main-content {
    display: none;
  }
  
  #birthday-text {
    text-align: center;
    margin-top: 50px;
  }
  
  #birthday-text h1 {
    color: #ff69b4;
  }
  
  #buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffb6c1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confetti {
    /* Updated confetti styling */
    width: 10px;
    height: 10px;
    background-color: #ffd700; /* Gold color */
    border-radius: 50%;
    position: absolute;
    animation: confetti-fall 3s infinite linear;
  }
  
  .balloons {
    /* Updated balloon styling */
    width: 20px;
    height: 20px;
    background-color: #ff7eb9; /* Pastel pink color */
    border-radius: 50%; /* Make it circle */
    position: absolute;
    animation: balloon-float 3s infinite linear;
  }

  @keyframes confetti-fall {
    0% {
        transform: rotate(360deg);
     }
    100% {
        transform: translateY(100vh) rotate(360deg);
        }
}

  @keyframes balloon-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  